.item-task {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border: 6px solid #060606;
  border-radius: 5px;
  margin: 30px ;
  transition: background-color 0.3s;
}

.item-task.checked {
  background-color: #e6ffe6;
}

.circle-state {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #bbb;
  margin-right: 15px;
  transition: background-color 0.3s;
}

.circle-state.circle-green {
  background-color: #4caf50;
  border-color: #4caf50;
}

h2 {
  margin: 0;
  font-size: 18px;
  flex-grow: 1;
  font-family: cursive;
}

p {
  margin: 0;
  color: #666;
  flex-grow: 2;
  font-family: cursive;
}

input[type="checkbox"] {
  margin-left: 10px;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  border: 5px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: cursive;
}

button:hover {
  background-color: #ddd;
}

.edit-container {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.edit-container input {
  margin-bottom: 5px;
}
