/* General styles for the App */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  background-image: url('../src/images/pngtree-to-do-list-student-picture-image_1599884.jpg'); /* Ruta de la imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen para que cubra todo el elemento */
  background-position: center; /* Centra la imagen dentro del elemento */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
}


#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
}

.app {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

p {
  line-height: 1.6;
}

/* Utility classes */
.text-center {
  text-align: center;
}
